* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;

  font-family: sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

/* Remove defaults from navigation */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Navigation styles */

.nav-list ul {
  height: 100%;

  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

.nav-list a,
.nav-list a:visited {
  text-decoration: none;

  color: inherit;
}

.nav-list a:hover {
  text-decoration: underline;
}

/* Layout Styles */

.center {
  max-width: 900px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Grid Styles */

.three-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.align-items__center {
  display: grid;
  align-items: center;
}

/* Header Styles */

.main-header {
  height: 56px;
}

.main-header a {
  font-size: 0.825rem;
}

.navigation-wrapper {
  height: 100%;
}

.logo {
  width: 150px;
}

.button {
  padding: 0.25rem 1rem;

  border-radius: 0.25rem;
}

.blue-button {
  border: 1px solid blue;
}