* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;

  font-family: sans-serif;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  /* vertical-align: middle; */
  margin: auto;
}

/* Remove defaults from navigation */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Navigation styles */

.nav-list ul {
  height: 100%;

  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

.nav-list a,
.nav-list a:visited {
  text-decoration: none;

  color: inherit;
}

.nav-list a:hover {
  text-decoration: underline;
}

/* Layout Styles */

.center {
  max-width: 900px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Grid Styles */

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.two-column-grid__two-and-three {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.two-column-grid__three-and-two {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.three-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.align-items__center {
  display: grid;
  align-items: center;
}

.five-column-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.three-column-grid-gallery {
  display: grid;
  grid-template-columns: 51px 1fr 51px;
  gap: 1rem;

}

.four-column-grid {
  display: grid;
  grid-template-columns: repeat(4, 10px); 
}

.three-column-grid-circles {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}
/* Header Styles */

.main-header {
  height: 56px;
}

.main-header a {
  font-size: 0.825rem;
}

.navigation-wrapper {
  height: 100%;
}

.logo {
  width: 150px;
}

.button {
  padding: 0.25rem 1rem;

  border-radius: 0.25rem;
}

.blue-button {
  border: 1px solid blue;
}


/* Utility Styles */

.bg-blue {
  background-color: blue;
}

.blue-text {
  color: blue;
}

.bg-white {
  background-color: white;
}

.rounded-md {
  border-radius: 0.5rem;
}

.text-align__center {
  text-align: center;
}

.space-bm-lg {
  margin-bottom: 2rem;
}


/* Mains Styles */

.hero-section {
  padding: 2rem 0;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;

  font-size: 3rem;
}

.hero-section h1,
.hero-section p {
  color: white;
}

.signup-form {
  padding: 0.5rem;
}

.signup-form h2 {
  font-size: 1rem;
}

.signup-form p {
  font-size: 0.5rem;
  color: black;
}

.signup-form input,
.signup-form button {
  width: 100%;
  margin-bottom: 0.5rem;

  display: block;
}

.features-section {
  padding: 2rem 0;
}

.features-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icon {
  width: 48px;
  height: 48px;
  border: 2px solid blue;
}

.cards h3 {
  font-size: 0.825rem;
}

.cards p {
  font-size: 0.725rem;
}

.box {
  width: 50px;
}

.gallery-box {
  width: 800px;
  padding: 0px;
}

.circles {
  border: 2px solid blue;
  border-radius: 100%;
  height: 10px;
  width: 10px;
}

.icons {
  width: 30px;
  float:left;
}